/* Styling for the filters section */
.filters {
	display: block; /* Display as block element */
	background-color: white; /* White background */
	height: 70px; /* Height of 70 pixels */
	width: 100%; /* Full width */
	border: 1px solid #DDDDDD; /* Border with light gray color */
	border-radius: 4px; /* Rounded corners */
}

/* Styling for the locations section */
.locations {
	display: inline; /* Display as inline element */
	vertical-align: middle; /* Align vertically to the middle */
	float: left; /* Float to the left */
	height: 100%; /* Full height */
	width: 25%; /* 25% width */

	line-height: 20px; /* Line height of 20 pixels */
	border-right: 1px solid #DDDDDD; /* Right border with light gray color */
}

/* Styling for the amenities section */
.amenities {
	display: inline; /* Display as inline element */
	vertical-align: middle; /* Align vertically to the middle */
	height: 100%; /* Full height */
	float: left; /* Float to the left */
	width: 25%; /* 25% width */

	line-height: 20px; /* Line height of 20 pixels */
}

/* Styling for the popover */
.popover {
	list-style-type: none; /* No bullet points */
	display: none; /* Initially hidden */
	background-color: #FAFAFA; /* Background color */
	width: 100%; /* Full width */

	margin-left: -1px; /* Adjusting margin */
	margin-top: 8px; /* Adjusting margin */
	padding: 25px 0px; /* Padding */

	border: 1px solid #DDDDDD; /* Border with light gray color */
	border-radius: 4px; /* Rounded corners */
	max-height: 300px; /* Maximum height */
	overflow-y: auto; /* Enable vertical scroll if needed */
}

/* Displaying popover on hover for locations */
.locations:hover .popover {
	display: inline-block; /* Display as inline-block element */
}

/* Displaying popover on hover for amenities */
.amenities:hover .popover {
	display: inline-block; /* Display as inline-block element */
}

/* Styling for unordered lists */
ul {
	list-style-type: none; /* No bullet points */
	padding: 0px; /* No padding */
	padding-bottom: 20px; /* Bottom padding */
}

/* Styling for heading level 2 */
h2 {
	font-size: 16px; /* Font size */
	padding-left: 30px; /* Left padding */
	margin: 0px; /* No margin */
}

/* Styling for heading level 3 */
h3 {
	font-weight: 600; /* Font weight */
	margin-top: 12px; /* Top margin */
	margin-bottom: 5px; /* Bottom margin */
	padding-left: 45px; /* Left padding */
}

/* Styling for heading level 4 */
h4 {
	font-size: 14px; /* Font size */
	font-weight: 400; /* Font weight */
	margin-top: 5px; /* Top margin */
	margin-bottom: 5px; /* Bottom margin */
	padding-left: 45px; /* Left padding */
}

/* Styling for buttons */
button {
	color: #FFFFFF; /* Text color */
	font-size: 18px; /* Font size */
	
	height: 48px; /* Height of 48 pixels */
	width: 20%; /* 20% width */
	background-color: #FF5A5F; /* Background color */
	border-style: none; /* No border */
	border-radius: 4px; /* Rounded corners */

	float: right; /* Float to the right */
	margin-top: 11px; /* Top margin */
	margin-bottom: 11px; /* Bottom margin */
	margin-right: 30px; /* Right margin */
}

/* Styling for buttons on hover */
button:hover {
	opacity: 90%; /* Reduced opacity on hover */
}
